





@{

    @* we can set variables here, to be referenced throughout this View:  example: var me = "Hello", then I use razor to reference me*@


    ViewBag.Title = "Welcome to Meal Profiler";




}







<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css">  <!--I list this css file second in case I need to override the normalize.css file, as the last file listed takes precedence in the css stack -->
</head>




<body>
    <!-- this code creates a spyscroll to inform the user where they are in the site by highlighting active links  -->


    <div class="wrap">
        <header>
            <!-- main nav consisting of dropdown menus and collapsing menu using bootstrap front-end framework v4 -->
            <nav class="navbar navbar-expand-lg navbar-light bg-success">
                <a class="navbar-brand order-1" href="@Url.Action("Index")"><img src="~/Images/newrootsBrand.png" class="newrootsBrand" alt="new roots brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meal Options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a>@Html.ActionLink("Home: Meal Summary", "Index", new { @class = "btn btn-default" })</a>
                                <div class="dropdown-divider"></div>
                                <a>@Html.ActionLink("Create Meal!", "ProfileAdd", null, new { @class = "btn btn-default" })</a>
                                <div class="dropdown-divider"></div>
                                <a>@Html.ActionLink("Browse Ingredients", "IngredientGallery", new { @class = "btn btn-default" })</a>

                         

                            </div>  <!-- end .dropdown-menu -->
                        </li>  <!-- end .nav-item -->

                    </ul> <!-- end .navbar-nav ul -->
                </div> <!-- end .collapse div -->
            </nav>  <!-- end main-nav -->
            <!-- i need to work on a media query to fix margin issues for responsive design. As this
            is a backend course, it isn't on my radar at present. -->
            <div class="backgroundHeader1">
                <img src="~/Images/potatoes.jpg" class="backgroundHeader" alt="new roots header image of vegetables">
            </div>
        </header>




        <div class="backbar">
            <div>
                @Html.ActionLink("Home: Meal Summary", "Index", new { @class="btn btn-default" })

            </div>
        </div>



        <div class="container body-content">
            @RenderBody()
        </div>
    </div> <!-- end .wrap div  -->
    <footer class="secondary-footer">
        <h3 class="bg-dark">Contact Us</h3>
        <div class="social-icon-div">
            <a href="#"><img src="~/Images/008-twitter.png" class="contact-icon" alt="twitter contact icon"></a>
            <a href="#"><img src="~/Images/014-snapchat.png" class="contact-icon" alt="snapchat contact icon"></a>
            <a href="#"><img src="~/Images/029-instagram.png" class="contact-icon" alt="instagram contact icon"></a>
            <a href="#"><img src="~/Images/036-facebook.png" class="contact-icon" alt="twitter contact icon"></a>
            <a href="#"><img src="~/Images/001-youtube.png" class="contact-icon" alt="twitter contact icon"></a>
            <a href="#"><img src="~/Images/027-linkedin.png" class="contact-icon" alt="twitter contact icon"></a>
        </div>
        <p><b>PHONE: 502.509.6770</b></p>
        <p><b>EMAIL:<a href="mailto:info@newroots.org.com?Subject=Hello%20again" target="_top"> info@newroots.org</a></b></p>
        <p>HOURS: 9 am-5 pm on Monday-Friday</p>
        <p><b>Our office is based out of the beautiful <a href="tablecafe.org">Table Cafe</a> in Louisville's Portland neighborhood:</b></p>
        <p><b>1800 Portland Avenue, Louisville, KY 40203</b></p>
        <p><b>&copy; 2018 newroots.org</b></p>
        <p>
            <em>
                Twitter, Facebook, Youtube, Instagram, Linked-In, and Snapchat Social Media Icons Authored by
                <a href="https://www.flaticon.com/authors/freepik">Freepik</a> and Offered on <a href="https://www.flaticon.com">flaticon.com</a>
            </em>
        </p>
    </footer>

    <!-- sticky footer: fixed position-->
    <footer class="main-footer">
        <a href='#top' title="TOP" class='to-top'></a>
    </footer>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>





</body>

</html>